
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}

.imagen{
    width: 200px;
}


.titulo{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.texto{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    
}

.boton{
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
}

.contenedor{
    display: grid;
    grid-template: 
        "main"1fr/
        auto;
}

.main {
    grid-area: main;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.textoContenedor{
    font-size: 1.6rem;
    margin: 5px 20px 5px 20px;
}

.coso {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textoCoso{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.cupon{
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoCupon{
    font-size: 1.5rem;
    color: white;
    padding: 15px;
    
}
.textoValido{
    font-size: 1.3rem;
}

@media screen and (max-width: 425px){

       .titulo{
           font-size: 2.5rem;
       } 
    
       .textoContenedor{
           font-size: 2rem;
       } 
       .textoCupon{
           font-size: 2rem;
       }
       .cupon{
           margin-top: 40px;
       } 
       .textoValido{
        font-size: 1.6rem;
       }
    }
